.bg {
  background-color: #fff;
}
.input {
  border: 2px solid #dddddd;
}
.submit {
  background-color: #014201;
  color: white;
  margin-bottom: 1rem;
  border-radius: 0;
  padding: 0.5em 1em;
  width: 100%;
  box-sizing: border-box;
  font-size: 1.125rem;
  border: 2px solid #014201;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}
.submit:hover {
  background-color: #035303;
  border-color: #035303;
}
.input:focus {
  border-color: #014201;
}
.email {
  background-color: #e9fde9;
  border-radius: 0;
  outline: none;
  padding: 0.75em 1em;
  width: 100%;
  border: none;
  border-bottom: solid #e9fde9 2px;
  font-size: 1.125rem;
}
.email:focus {
  border-bottom: solid #1c4532 2px;
}
.grid {
  display: grid;
  gap: 2rem;
}
.submitBtn {
  background-color: #014201;
  border: #014201 solid 2px;
  color: #fff;
  padding: 0.75em 0;
  cursor: pointer;
}
.submitBtn:hover {
  border: #025302 solid 2px;
  background-color: #025302;
}
.backBtn {
  cursor: pointer;
  padding: 0.75em 0;
  background-color: #fff;
  color: #014201;
  border: #014201 solid 2px;
}
.backBtn:hover {
  background-color: #014201;
  color: #fff;
}

@media screen and (min-width: 580px) {
  .grid {
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 768px) {
  .bg {
    background-color: #014201;
  }
}
